<div class="ranking-list">
  <div class="header">
    <div id="hd-plce">Placement</div>
    <div id="hd-name">Name</div>
    <div id="hd-wins">Winstreak</div>
  </div>
  
  <hr id="table-seperator">

  <ng-container *ngIf="users.length > 0; else noUsers">
    <app-user-card 
    *ngFor="let user of users" 
    [placement]="user.placement" 
    [name]="user.name" 
    [winstreak]="user.winstreak"
    class="uc"/>
  </ng-container>

  <ng-template #noUsers>
    <div class="no-users">No users found.</div>
  </ng-template>
</div>