$gap-size: 10px;
$font-weight-bold: bold;

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: $gap-size;
  .header,
  .no-users {
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-bold;
    padding: $gap-size;
    align-items: left;
    text-align: left;
    margin-top: 1rem;
    #hd-plce,
    #hd-wins {
      border-radius: 12px;
      background-color: var(--green);
      padding: 5px;
      width: auto;
      color: var(--font);
    }
    #hd-name {
      border-radius: 12px;
      background-color: var(--green);
      padding: 5px;
      width: 12%;
      margin-right: 22%;
      color: var(--font);
    }
  }
  .uc {
    padding-left: 2%;

  }

  .uc:last-child
  {
    margin-bottom: 11vh;
  }

  .ranking-table {
    align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
  }

  #table-seperator {
    width: 90%;
    height: 1px;
    border-width: 0;
    background-color: var(--white);
  }
}
