$gap-size: 10px;
$font-weight-bold: bold;

.ranking-list {
    display: flex;
    flex-direction: column;
    gap: $gap-size;
    .header, .no-users {
        display: flex;
        justify-content: space-between;
        font-weight: $font-weight-bold;
        padding: $gap-size;
        align-items: left;
        text-align: left;
        #hd-plce, #hd-wins{
            width: auto;
        }
        #hd-name{
            width: 40%;
        }
    }
    .uc{
        padding-left: 2%;
    }

    #table-seperator{
        width: 100%;
        height:1px;
        border-width:0;
        background-color:var(--white);
    }
}