<div id="wrapper">
    <div id="avatar">
        <img (click)="settings()" src="../../../../assets/icons/settings.svg" alt="settings-svg" id="settings">
        <img src="../../../../assets/icons/avatar.svg" alt="avatar-svg" id="avatar-svg">
    </div>
    <div id="data" class="pf-section">
        <h2 id="name">{{name}}</h2>
        <p id="email">{{email}}</p>
    </div>
    <div id="statistics" class="pf-section">
        <h2>Statistiken</h2>
        <div id="entrys-wrapper">
            <app-statistic-entry class="entry"
            *ngFor="let statistic of statistics"
            [name]="statistic.name"
            [value]="statistic.value"/>
        </div>
    </div>
</div>
