<div id="wrapper">
    <div id="avatar">
        <img [routerLink]="['/settings']" src="../../../../assets/icons/settings.svg" alt="settings-svg" id="settings">
        <img src="../../../../assets/icons/002-sportler-1.png" alt="avatar-svg" id="avatar-svg">
    </div>
    <div id="data" class="pf-section">
        <h2 id="name">{{this.userService.userdata.displayName}}</h2>
        <p id="email">{{this.userService.userdata.email}}</p>
    </div>
    <div id="statistics" class="pf-section">
        <h2>statistic</h2>
        <div id="entrys-wrapper">
            <app-statistic-entry class="entry"
            *ngFor="let statistic of statistics"
            [name]="statistic.name"
            [value]="statistic.value"/>
        </div>
    </div>
</div>
