/**
 * Styles for the stop button component.
 *
 * The stop button is a custom button component used to stop a process or action.
 * It has a red background color and a white text color.
 * The button has a fixed position on the page and is 90px wide and 40px high.
 * It has a border radius of 16px and a border width of 5px at the bottom.
 * The button transitions the filter property with a duration of 0.2s on hover.
 * It also has a hover effect that increases the brightness by 10%.
 * The button can be disabled, in which case it has a different style and the cursor is set to auto.
 * The button has a pseudo-element after it that adds a red border at the bottom.
 * The button text has uppercase letters and a font size of 12px.
 * The button is positioned 140px from the top and 3% from the left of its container.
 *
 * @class StopButtonComponent
 */

.stopbutton {
  appearance: button;
  background-color: #f55959e5;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 5px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin: 0;
  outline: none;
  padding: 13px 13px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90px;
  height: 40px;
  margin-top: 15px;
  position: fixed;
  top: 140px;
  left: 0%;
  margin-left: 3%;
}

.stopbutton:after {
  background-clip: padding-box;
  background-color: #ff4646;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.stopbutton:main,
.stopbutton:focus {
  user-select: auto;
}

.stopbutton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.stopbutton:disabled {
  cursor: auto;
}

.stopbutton:active {
  border-width: 4px 0 0;
  background: none;
}

#button-top {
  font-weight: 100;
  font-size: 10px;
}
