/**
 * Styles for the input field component.
 *
 * FILEPATH: /c:/Users/huber/Desktop/Semester 4/SE-Progammierung/G5-DuoGradus/frontend/src/app/components/atoms/inputfield/inputfield.component.scss
 */
.input {
  // Styles for the input field
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 80%;
  font-size: 12px;

  &:last-child {
    border-bottom: 0;
  }

  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
