.input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 80%;
    font-size: 12px;

    &:last-child {
        border-bottom: 0;
    }
    &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.4);
    }
}