<div class="main">
    <app-header [text]="'Search Friends'"></app-header>
    <div class="btn-search-container">
        <button  class="return-button" (click)="returnToFriends()">
            <i class="img-container2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-ArrowLeft"><path d="M11 5l-7 7 7 7"/><path d="M4 12h16"/></svg></i>
        </button>
        <div class="searchbar-container">
            <span class="img-container"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Search"><path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/></svg></span>
            <app-searchbar ></app-searchbar>
        </div>
    </div>
    <hr>
</div>
