<div class="main">
<app-header [text]="'Friends'"></app-header>
<div class="btn-search-container">
    <div class="searchbar-container">
        <span class="img-container"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-Search"><path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/></svg></span>
        <app-searchbar ></app-searchbar>
    </div>
    <button (click)="addFriend()" class="addfriends-button">
        <i class="img-container2"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-PersonAdd"><circle cx="12" cy="7" r="5"/><path d="M17 22H5.266a2 2 0 0 1-1.985-2.248l.39-3.124A3 3 0 0 1 6.649 14H7"/><path d="M19 14v4"/><path d="M17 16h4"/></svg></i>
    </button>
</div>
<hr>
<div class="users-container"  >
    <!--TODO: add picture to app-usercard-->
    <app-usercard *ngFor="let u of users | userfilter:eventService.query" [name]="u.name"  ></app-usercard>
</div>
</div>
