.main {
  width: 100%;
  background-color: var(--background-black);

  hr {
    background-color: var(--white);
    margin-top: 1.5rem;
    width: 93vw;
  }

  .btn-search-container {
    display: flex;
    justify-content: space-between;

    .searchbar-container {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 1.5rem;
      background-color: var(--white);
      width: 80vw;
      border-radius: 12px;
      gap: 0.5rem;
      margin-left: 10px;

    }

    .img-container {
      margin-top: 2px;
      margin-left: 0.5rem;
      filter: invert(100%);
    }

    i.img-container2
    {
      margin-top: 2px;
      filter: invert(100%);
    }

    .addfriends-button
    {
      background-color: var(--green);
      color: var(--white);
      width: 40px;
      height: auto;
      border: none;
      border-radius: 50%;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s;
      margin-right: 1rem;
      margin-top: 1.5rem;
      transition: background-color 0.1s ease; /* Übergangseigenschaft für die Hintergrundfarbe */


    }

    .addfriends-button:active {
      background-color: lighten(#00ff7f, 30%); /* Die Hintergrundfarbe wird beim Klicken um 20% aufgehellt */
  }
  }

  .users-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .usercard:last-child
  {
    margin-bottom: 11vh;
  }


}
