/**
 * Defines the color variables used in the application.
 *
 * @root
 * @variable --background-black: #0f0f0f - The background color for elements with black background.
 * @variable --font: #282829 - The font color for text elements.
 * @variable --black-2: #181818 - A darker shade of black used for certain elements.
 * @variable --white: #ffffff - The color white used for backgrounds and text.
 * @variable --green: #00ff7f - A shade of green used for certain elements.
 * @variable --grey: #d6d5d5 - A shade of grey used for certain elements.
 */
:root {
  --background-black: #0f0f0f;
  --font: #282829;
  --black-2: #181818;
  --white: #ffffff;
  --green: #00ff7f;
  --grey: #d6d5d5;
}