/**
 * Styles for the loader component.
 */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  /**
   * Styles for the main container of the loader.
   */
  .main {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-black);
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /**
     * Styles for the loader element.
     */
    .loader {
      position: relative;
      width: 100px;
      height: 100px;
    }

    /**
     * Styles for the before and after pseudo-elements of the loader.
     */
    .loader:before,
    .loader:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      inset: 0;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
    }

    /**
     * Styles for the after pseudo-element of the loader.
     */
    .loader:after {
      box-shadow: 0 2px 0 var(--green) inset;
      animation: rotate 2s linear infinite;
    }

    /**
     * Keyframes animation for the loader rotation.
     */
    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
