$padding-size: 10px;
$border-radius-size: 10px;
$background-color: var(--white);
$font-color: var(--font);

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 98%;
    padding: $padding-size;
    box-sizing: border-box;
    border-radius: $border-radius-size;
    background-color: $background-color;
    color: $font-color;
    #uc-plce, #uc-wins{
        width: auto;
    }
    #uc-name{
        width: 40%;
    }
}