/**
 * Styles for the login form component.
 */
p.create-account {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;

  /**
   * Styles for the create account link within the login form.
   */
  a {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    margin-top: 20px;
  }

  /**
   * Styles for the create account link when hovered.
   */
  a:hover {
    text-decoration: underline;
  }
}

/**
 * Styles for the eye image within the login form.
 */
.eyeimg {
  justify-content: center;
  align-self: center;
  margin-right: 8px;
  margin-top: 8px;

  /**
   * Styles for the image within the eye image.
   */
  .img {
    height: 15px;
    width: 15px;
  }
}

/**
 * Styles for the login form.
 */
.login {
  display: flex;
  justify-content: center;
  align-items: center;

  /**
   * Styles for the center container within the login form.
   */
  .center {
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    max-width: 400px;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    background-color: var(--background-black);
    padding: 15px;
    border-radius: 16px;
    margin-top: 14%;

    /**
     * Styles for the form title within the center container.
     */
    .form-title {
      color: var(--white);
      font-size: 1.7em;
      text-align: center;
      margin-top: 30px;
    }

    /**
     * Styles for the form holder within the center container.
     */
    .form-holder {
      border-radius: 15px;
      background-color: #fff;
      border: 1px solid #eee;
      overflow: hidden;
      margin-top: 50px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.3s ease;
    }

    /**
     * Styles for the button within the center container.
     */
    .button {
      background-color: var(--green);
      color: var(--font);
      border: 0;
      font-weight: bolder;
      border-radius: 15px;
      display: block;
      margin: 15px auto;
      margin-top: 10px;
      padding: 15px 45px;
      width: 100%;
      font-size: 13px;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.3s ease;

      /**
       * Styles for the button when hovered.
       */
      &:hover {
        transition: all 0.1s ease;
        background-color: var(--white);
        color: var(--font);
      }
    }
  }

  /**
   * Styles for the password container within the login form.
   */
  .password {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/**
 * Media query for screens with a minimum width of 429px.
 */
@media screen and (min-width: 429px) {
  /**
   * Styles for the login form within the media query.
   */
  .login {
    display: flex;
    justify-content: center;
    align-items: center;

    /**
     * Styles for the center container within the login form within the media query.
     */
    .center {
      width: 65%;
      max-width: 300px;
      z-index: 1;
      background-color: var(--background-black);
      padding: 15px;
      border-radius: 16px;
      margin-top: 0;
    }
  }
}

/**
 * Styles for the input fields within the login form.
 */
.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  font-size: 12px;

  /**
   * Styles for the last input field within the login form.
   */
  &:last-child {
    border-bottom: 0;
  }

  /**
   * Styles for the input field placeholder text within the login form.
   */
  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
