<div class="login-container">
    <app-inputfield [labeltext]="'Username'" [typetext]="'text'" [placeholder]="'Enter Username'"></app-inputfield>
    <app-inputfield [labeltext]="'Password'" [typetext]=" passwordFieldType" [placeholder]="'Enter Password'"></app-inputfield>
    <p class="toggle-password"><a class="eyeimg" (click)="toggleType()" ><img class="img" [src]="img"></a></p>
    <button class="button">Login In</button>
    <p class="create-account">Don´t have an account? <br> <br> <a href="../sign/">Sign on for free?</a></p>
</div>
