
<div class="login">
  <div class="center">
    <h2 class="form-title" id="login">Login</h2>
    <div class="form-holder">
      <app-inputfield
        [labeltext]="'Username'"
        [typetext]="'text'"
        [placeholder]="'Enter Username'"
      ></app-inputfield>
      <div class="password">
        <app-inputfield
          [labeltext]="'Password'"
          [typetext]="passwordFieldType"
          [placeholder]="'Enter Password'"
        >
        </app-inputfield>
        <span class="eyeimg" (click)="toggleType()"
          ><img class="img" [src]="img || '../../../../assets/ausblenden.png' "
        /></span>
      </div>
    </div>

    <button (click)="login()" class="button">Login</button>
    <p class="create-account">
      Don´t have an account? <a href="../auth/signup/">Sign on for free?</a>
    </p>
  </div>
</div>

