<div class="login">
  <div class="center">
    <h2 class="form-title" id="login">Sign up</h2>
    <div class="form-holder">
      <app-inputfield
        [labeltext]="'Username'"
        [typetext]="'text'"
        [placeholder]="'Enter Username'"
      ></app-inputfield>
      <app-inputfield
        [labeltext]="'Email'"
        [typetext]="'text'"
        [placeholder]="'Enter Email'"
      ></app-inputfield>
      <div class="password">
		<app-inputfield [labeltext]="'Password'" [typetext]=" passwordFieldType" [placeholder]="'Enter Password'"> </app-inputfield>
		<span class="eyeimg" (click)="toggleType()" ><img class="img" [src]="img"></span>
	</div>
    </div>
    <button class="button">Login</button>
    <p class="create-account">
      Already an account? <a href="../auth/login/">Sign in</a>
    </p>
  </div>
</div>
