<div id="container">
    <div id="nav-main" class="nav-element"
        (click)="navigate('/main')">
        <img class="icons" src="../../../../assets/icons/home.svg" alt="home-svg">
    </div>
    <div id="nav-ranked" class="nav-element"
        (click)="navigate('/ranking')">
        <img class="icons"  src="../../../../assets/icons/podium.svg" alt="podium-svg">
    </div>
    <div id="nav-friendlist" class="nav-element"
        (click)="navigate('/friendlist')">
        <img class="icons"  src="../../../../assets/icons/friends.svg" alt="friends-svg">
    </div>
    <div id="nav-profile" class="nav-element"
        (click)="navigate('/profile')">
        <img class="icons"  src="../../../../assets/icons/profile.svg" alt="profile-svg">
    </div>
</div>