#pg-container{
    min-height: 100vh;
    background-color: var(--background-black);
    #pg-ranked-header{
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        #headline-wrapper{
            border: 1px solid var(--white);
            border-radius: 5em;
            margin-left:4%;
            margin-right:4%;
        }
    }
}