
.main {
  width: 100%;
  height: 100vh;
  background-color: var(--background-black);

  background-repeat: no-repeat;
  background-position: left top; /* Horizontale und vertikale Zentrierung */
  background-size: auto;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  align-items: start;
  flex-direction: column;

  .logo-contaier {
    width: 100%;
  }

  p.welcome {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    height: 20px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
  }


  .logo {
    filter: invert(100%);
    margin-top: 50px;
  }


  .img {
    z-index: 2;
  }
}

    p.welcome {
        color: var(--primary-color);
        font-size: 16px;
        text-align: center;
        height: 20px;
        width: 100%;
        margin-top: 20px;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        padding: 0;
        margin-bottom: 0;
      }
 
      .logo
      {
        filter: invert(100%);
        margin-top: 50px;
      }
}

