<div class="header">
  <img src="../../../../assets/logo/Logo 1.svg" [alt]="'Logo DuoGradus'" />
  <div class="statistic-container">
    <div class="time">
      <p>
        Remaining<br />
        <span>Time</span>
      </p>
      <app-timer></app-timer>
    </div>

    <div class="steps">
      <p>
        Remaining<br />
        <span>Steps</span>
      </p>
      <h2>{{ eventservice.steps }}</h2>
    </div>

    <div class="streak">
      <img src="../../../../assets/icons/f7--flame.svg" alt="Icon Streak" />
      <h2>0000</h2>
    </div>
  </div>
</div>
