.header {
  margin: 0;
  padding: 0;
  background-color: var(--black-2);
  width: 100%;
  max-width: 428px;
  height: 130px;
  position: fixed;
  top: 0;
  z-index: 1;

  box-shadow: 0 0 2px var(--black-2) 2px var(--black-2);
  p {
    margin: 0;
    padding: 0;
  }

  img {
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    margin-left: 18px;
  }

  .statistic-container {
    width: calc(100% - 20px); /* 20px für den Rand */
    margin: 0 auto; /* Zentriert den Container horizontal */
    padding: 0;
    display: flex;
    justify-content: space-between;

    .time {
      width: 30vw;
      margin-left: 10px;

      span {
        color: var(--green);
      }

      h2 {
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
      }
    }

    .steps {
      width: 30vw;
      margin-left: 35px;

      span {
        color: var(--green);
      }

      h2 {
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
      }
    }

    .streak {
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: start;
      img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }

      h2 {
        margin: 0;
        margin-top: 7px;
        font-size: 16px;
      }
    }
  }
}
