<div class="header">
  <img src="../../../../assets/logo/Logo 1.svg" [alt]="'Logo DuoGradus'" />
  <div class="statistic-container">
    <div class="time">
      <p>
        Verbleibende<br />
        <span>Zeit</span>
      </p>
      <h2>00:00:00</h2>
    </div>

    <div class="steps">
      <p>
        Verbleibende<br />
        <span>Schritte</span>
      </p>
      <h2>{{ eventservice.steps}}</h2>
    </div>

    <div class="streak">
      <img src="../../../../assets/f7--flame.svg" alt="Icon Streak" />
      <h2>0000</h2>
    </div>
  </div>
</div>
